
{% extends "base.html" %}

{% block title %}
    Blog
{% endblock title %}

{% block blogactive%} active {%endblock blogactive%}

{%block bolgbody%}

{% for i in blog %}
    {%if i.id == blog_id%}
    

    <div class="container">
        <div class=" mt-5 pt-5">
            <img src="/media/{{i.image}}" alt="" width="100%" height="600">
        </div>
        <div id="heading" class="text-center  pt-5 pb-5">
            <h1>{{i.title}}</h1>
        </div>
        <div class="row text-center pt-3">
            <div class="col-md-6">
                <p><b>Created on:</b> {{i.created_on}}</p>
            </div>
        </div><hr>
        <div class="pt-3">
            {{i.description}}
        </div>
        <div>
            <form action="{%url 'blog_list'%}" method="POST">
                {% csrf_token %}
                  <input type="hidden" name="blog_id" value="{{i.id}}">
                  <button type="submit" class="btn btn-success mt-5">Go to Blog</button>
              </form>
        </div>
    </div>
    {%endif %}
{%endfor %}

 
{%endblock bolgbody%}